body {
  margin-top: 0;
  margin: 0;
  text-align: center;
  background-color: #121a30;
  font-family: 'NTR', sans-serif;
}

.intro {
  position: relative;
  top: 150px;
}

.intro-auburn {
  color: #ff6f5c;
}

h1 {
  font-size: 4.5rem;
  margin-top: 0;
  color: lightgrey;
}

.garrett {
  color: #64ffda;
}

h2 {
  font-size: 3rem;
  color: #64ffda;
  margin-bottom: 0;
}

h3 {
  color: #ff6f5c;
  font-size: 2rem;
}

p {
  color: lightgrey;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 150px;
  padding-right: 150px;
}

.top-container {
  position: relative;
  height: 700px
}

.a-programmer {
  font-size: 2rem;
  color: lightgrey;
  position: relative;
  bottom: 40px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: fixed;
  right: 20px;
  height: 175px;
  width: 175px;
}

.profile {
  padding-top: 450px;
}

.profile-pic {
  height: 200px;
  width: 200px;
  position: relative;
  padding-top: 100px;
}

.coding-computer {
  height: 450px;
  width: 600px;
  position: relative;
}

.btn {
  color: #64ffda;
}

.footer-link {
  color: #64ffda;
}
