body {
  margin-top: 0;
  margin: 0;
  text-align: center;
  background-color: #121a30;
  font-family: 'NTR', sans-serif;
}

.intro {
  position: relative;
  top: 150px;
}

.intro-auburn {
  color: #ff6f5c;
}

h1 {
  font-size: 5rem;
  margin-top: 0;
  color: lightgrey;
}

.garrett {
  color: #64ffda;
}

h2 {
  font-size: 3rem;
  color: #64ffda;
  margin-bottom: 0;
}

h3 {
  color: #ff6f5c;
  font-size: 2rem;
}

p {
  color: lightgrey;
  font-size: 1.75rem;
  font-weight: 700;

}

.top-container {
  position: relative;
  height: 500px;
  width: 90%;
  margin: auto;
}

.middle-container {
  width: 90%;
  margin: auto;
}

.a-programmer {
  font-size: 2rem;
  color: lightgrey;
  position: relative;
  bottom: 40px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: fixed;
  right: 10px;
  height: 175px;
  width: 175px;
}

.profile {
  padding-top: 450px;
}

.profile-pic {
  height: 275px;
  width: 275px;
  position: relative;
  padding-top: 100px;
}

hr {
width: 95%;
border-color: #64ffda;
}


.coding-computer {
  height: 450px;
  width: 600px;
  position: relative;
}

.btn {
  background: #ff6f5c;
  background-image: -webkit-linear-gradient(top, #ff6f5c, #ff6f5c);
  background-image: -moz-linear-gradient(top, #ff6f5c, #ff6f5c);
  background-image: -ms-linear-gradient(top, #ff6f5c, #ff6f5c);
  background-image: -o-linear-gradient(top, #ff6f5c, #ff6f5c);
  background-image: linear-gradient(to bottom, #ff6f5c, #ff6f5c);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: 'NTR', sans-serif;
  color: #fff5ff;
  font-size: 18px;
  padding: 2px 20px 2px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ff5542;
  text-decoration: none;
}

.footer-link {
  color: #64ffda;
}
